{% extends 'base.html' %}
{% load static %}

{% block title %}Şifre Sıfırlama{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card panel p-4 shadow-sm">
      <h2 class="card-title text-center mb-4">Şifre Sıfırlama</h2>
      <p class="text-muted text-center mb-4">Şifrenizi sıfırlamak için kayıtlı e-posta adresinizi girin. Size şifre sıfırlama talimatlarını içeren bir e-posta göndereceğiz.</p>
      
      <form method="post">
        {% csrf_token %}
        
        {% if form.email.errors %}
          <div class="alert alert-danger">
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        
        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">E-posta Adresi:</label>
            <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="form-control form-control-lg bg-dark text-light border-secondary" required>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-danger btn-lg">Şifre Sıfırlama E-postası Gönder</button>
        </div>
      </form>
      <div class="text-center mt-3">
        <a href="{% url 'login' %}" class="text-decoration-none">Giriş sayfasına dön</a>
      </div>
    </div>
  </div>
</div>
{% endblock %} 